<%- include('partials/header'); -%>

<div class="container">
  <p>Welcome to <%= title %></p>
</div>

<div class="container">
  
  <div class="row mb-3">
    <div class="col-12">
      <% if (typeof categoryData !== 'undefined') { %>
        <div class="card">
          <div class="card-body">
            <ul>
              <% categoryData.forEach(function(category) { %>
                <li> category_name: <%= category.name %> [id=<%= category.id %>] [parent_id=<%= category.parent_category_id %>]</li>
              <% }); %>
            </ul>
          </div>
        </div>
      <% } else { %>
        <div class="card">
          <div class="card-body">
            No Category Data
          </div>
        </div>
      <% }%>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-8">
      <% if (typeof productData !== 'undefined') { %>
      <ul>
        <% productData.forEach(function(product) { %>
          <li> product_name: <%= product.product_name %> Price: <%= product.price %> USD</li>
        <% }); %>
      </ul>
      <% } else { %>
        <div class="card">
          <div class="card-body">
            No Product Data
          </div>
        </div>
      <% } %>
    </div>
    <div class="col-4">
      <% if (typeof productData !== 'undefined') { %>
      <div id="carouselSearchResult" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <% productData.forEach(function(product, index) { %>
            <% if (index == 0) {
              var active = " class=active aria-current=true";
            } else {
              var active = "";
            } %>
            <button type="button" data-bs-target="#carouselSearchResult" data-bs-slide-to="<%= index %>" <%= active %> aria-label="<%= product.product_id %>"></button>
          <% }); %>
        </div>
        <div class="carousel-inner">
          <% productData.forEach(function(product, index) { %>
            <% if (index == 0) {
              var active = " active";
            } else {
              var active = "";
            } %>
          <div class="carousel-item <%= active %>">
            <img src="<%= product.image.link %>" class="d-block w-100" alt="<%= product.image.alt %>">
            <div class="carousel-caption d-none d-md-block">
              <h5><%= product.product_name %></h5>
              <p><%= product.price %> USD - <a href="<%= product.link %>" target="_blank">Details ...</a></p>
            </div>
          </div>
          <% }); %>  
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselSearchResult" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselSearchResult" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <% } else { %>
        <div class="card">
          <div class="card-body">
            Empty Carousel
          </div>
        </div>
      <% } %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Try Ajax</h5>
          <div class="card-text" id="product-search-container">data should be here</div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  $(document).ready(function() {
    console.log( "document ready" );

    $.ajax({
      type: 'GET',
      url: "/api/get-root-categories",
      success: function(result) {
        $("#product-search-container").html(result);
      }
});

  });
</script>

<%- include('partials/footer'); -%>